@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="hello-world">Hello Capstone</h2>
    <p class="greeting">Team Hawaii Rocks!</p>
    <div class="mapTemp">
        <div class="standardContent" id="mapBlock">
            <div id="POIText">
                <h2>Interactive Campus Resource Map</h2>
            </div>
            <div id="SeattlePOIMap"></div>
            <div id="POITextBox">
                <h5></h5>
                <p></p>
            </div>
            <div id="PinLabel">
                <h5></h5>
                <p></p>
            </div>
        </div>
    </div>
    <p class="coop">Coop get API is Golden</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
